<div class="otherRow">
	<ul>
		<li>
			<div class="otherdiv">

				<h3>Service Specials</h3>

				<img src="assets/spree/frontend/slider3.jpg" title="imageName">

				<a href="#">Read More<%= fa_icon "chevron-right", right: true %></a>

			</div>
		</li>
		<li>
			<div class="otherdiv">

				<h3>Preventative Maintenance</h3>

				<img src="assets/spree/frontend/slider3.jpg" title="imageName">

				<a href="#">Read More<%= fa_icon "chevron-right", right: true %></a>

			</div>
		</li>
		<li>
			<div class="otherdiv">

				<h3>Filter Program</h3>

				<img src="assets/spree/frontend/slider3.jpg" title="imageName">

				<a href="#">Read More<%= fa_icon "chevron-right", right: true %></a>

			</div>
		</li>
		

	</ul>




</div>