	<script class="secret-source">
        jQuery(document).ready(function($) {
          $('#banner-fade').bjqs({
            height      : 500,
            width       : "100%",
            responsive  : true,
            animduration: 5000,
            showcontrols: false,
            showmarkers : false
          });
        });
	</script>
    <div id="banner-fade">

        <ul class="bjqs">
          <li><%= image_tag "slider1.jpg" %></li>
          <li><%= image_tag "slider2.jpg"%></li>
          <li><%= image_tag "slider3.jpg"%></li>
          <li><%= image_tag "slider4.jpg"%></li>
        </ul>
    </div>