	<script class="secret-source">
        jQuery(document).ready(function($) {
          $('#banner-fade').bjqs({
            height      : 500,
            width       : "100%",
            responsive  : true,
            animduration: 5000,
            showcontrols: false,
            showmarkers : false
          });
        });
	</script>
    <div id="banner-fade">

        <ul class="bjqs">
          <li><img src="assets/spree/frontend/slider1.jpg" title=""></li>
          <li><img src="assets/spree/frontend/slider2.jpg" title=""></li>
          <li><img src="assets/spree/frontend/slider3.jpg" title=""></li>
          <li><img src="assets/spree/frontend/slider4.jpg" title=""></li>
        </ul>
    </div>